@charset "UTF-8";

.bottom-panel {}

.focus-panel {}

#focus-panel {}

.focus-contents {
  padding: 10px;
}

#focus-player button {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}

.pause {
  background: grey;
}

#focus-play-cafe {
  background: url('cafe.png');
  }

#focus-play-garden {
  background: url('garden.png');
  }

#focus-play-fire {
  background: url('fire.png');
  }

#focus-play-night {
  background: url('night.png');
  }

#focus-mute {
  background: url('vol-unmute.png');
}