@charset "UTF-8";

.bottom-panel {}
.focus-panel {}
#focus-panel {}

#focus-player button {
    height: 40px;
    width: 40px;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

#focus-play-cafe {
  background: url('play.png');
  }

#focus-play-garden {
  background: url('p1.png');
  }
